<% @friends.each do |friend| %>
  <p><%= friend.full_name %></p>
  <% friend.find_up_voted_items.each do |product| %>
    <p><%= product.name %></p>
      <% if product.photo.attached? %>
        <% @path_pro = product.photo.key %>
      <% else %>
        < @path_pro = 'profile_whubsg' %>
      <% end %>

    <%= link_to product_path(product) do %>
      <div class="card-product">
        <%= cl_image_tag @path_pro, alt: "product" %>
        <p id="product-name"><%= product.brand %></p>
        <p><%= product.name %></p>
        <p><%= product.category%></p>
      <% end %>
  <% end %>
<% end %>

