<% if current_user.photo.attached? %>
  <% @path = current_user.photo.key %>
<% else %>
  <% @path = 'profile_whubsg' %>
<% end %>

<div class="user-banner">
  <h2>my shelf</h2>
  <%= cl_image_tag @path, alt: "user", class: "avatar-large user"  %>
</div>



<div class="container">


  <div class="my-shelf">
    <div class="product-cards">


        <% current_user.find_up_voted_items.each do |product| %>

          <% if product.photo.attached? %>
            <% @path_pro = product.photo.key %>
          <% else %>
            <% @path_pro = 'no_image' %>
          <% end %>


            <%= link_to product_path(product) do %>
              <div class="card-product">
                <%= cl_image_tag @path_pro, alt: "product" %>
                <p class="mt-2"><%= product.brand.truncate(16) %></p>
                <p><%= product.name.truncate(16) %></p>
                <p><%= product.category.truncate(16) %></p>
              </div>
            <% end %>

        <% end %>


    </div>


  </div>


</div>
