<% if @user.photo.attached? %>
  <% @path = @user.photo.key %>
<% else %>
  <% @path = 'profile_whubsg' %>
<% end %>

<div class="user-banner">
  <% if @user == current_user %>
    <h2> My Shelf</h2>
  <% else %>
    <% if @user.first_name[-1].include?('s') %>
      <h2><%= @user.first_name+"'"+" "+'Shelf' %></h2>
    <% else %>
      <h2><%= @user.first_name+'\'s'+ ' '+'Shelf' %></h2>
    <% end %>
  <% end %>
  <div class="user-info">
    <%= cl_image_tag @path, alt: "user", class: "avatar-large"  %>
    <p><%= @user.first_name %></p>
  </div>
</div>

<div class="container">


  <div class="my-shelf">
    <div class="product-cards">

        <% @user.find_up_voted_items.each do |product| %>
          <% if product.photo.attached? %>
            <% @path_pro = product.photo.key %>
          <% else %>
            <% @path_pro = 'no_image' %>
          <% end %>


            <%= link_to product_path(product) do %>
              <div class="card-product">
                <%= cl_image_tag @path_pro, alt: "product" %>
                <p class="mt-2"><%= product.brand.truncate(16) %></p>
                <p><%= product.name.truncate(16) %></p>
                <p><%= product.category.truncate(16) %></p>
              </div>
            <% end %>

        <% end %>


    </div>


  </div>


</div>
