<%= render 'shared/search' %>
<div class="banner-shelf">
  <% if @user == current_user %>
    <h2> My Shelf</h2>
  <% else %>
    <% if @user.first_name[-1].include?('s') %>
      <h2><%= @user.first_name+"'"+" "+'Shelf' %></h2>
    <% else %>
      <h2><%= @user.first_name+'\'s'+ ' '+'Shelf' %></h2>
    <% end %>
  <% end %>
  <div class="user-info">
    <%= cl_image_tag @user.photo_path, alt: "user", class: "avatar-large"  %>
  </div>
</div>

<div class="container">


  <div class="my-shelf">
    <div class="product-cards">
      <% @user.shelf_hash.each do |category, products|  %>

        <div class="row">
          <div class="col-12">
            <h2><%= category %></h2>
          </div>
        </div>


        <div class="row">
        <% products.each do |product| %>
          <div class="col-6">
            <%= link_to product_path(product) do %>
               <div class="card-product">
                <%= cl_image_tag product.photo_path, alt: "product" %>
                <strong><p class="mt-2"><%= product.brand %></p></strong>
                <p><%= product.name.truncate(16) %></p>
                <!-- <p><%= product.category.truncate(16) %></p> -->
              </div>
            <% end %>
          </div>
        <% end %>
        </div>

      <% end %>
    </div>


  </div>


</div>
