<div class="user-banner">

  <% if current_user.photo.attached? %>
    <% @path = current_user.photo.key %>
  <% else %>
    <% @path = 'profile_whubsg' %>
  <% end %>
  <div class="user-info">
    <%= cl_image_tag @path, alt: "user", class: "avatar-large"  %>
    <p><%= current_user.first_name %></p>
  </div>

</div>

<div class="container">
  <div class="skin-type card-white">

    <p class="my-skin-type">My skin concern</p>
    <i class="fas fa-edit btn" data-toggle="modal" data-target="#tagsModal"></i>
    <%= render 'tags/modal' %>

    <div class="skin-types">

      <% current_user.tag_list.each do |tag| %>

        <% if tag == "dry skin" %>
          <% @skintypecolor = "#e0ae8d" %>
          <% @skintypeicon = "fas fa-fire-alt" %>
        <% elsif tag == "oily skin" %>
          <% @skintypecolor = "#f9f59f" %>
          <% @skintypeicon = "fas fa-tint" %>
        <% elsif tag == "sensitive skin" %>
          <% @skintypecolor = "#a8e28e" %>
          <% @skintypeicon = "fas fa-feather" %>
        <% else %>
          <% @skintypecolor = "#a6caed" %>
          <% @skintypeicon = "fas fa-surprise" %>
        <% end %>

        <div class="card-skin-type">
          <div class="icon" style="border: 3px solid <%= @skintypecolor %>">
            <i class="<%= @skintypeicon %>" style="color: <%= @skintypecolor %>"></i>
          </div>
          <p><%= tag %></p>
        </div>

      <% end %>

    </div>

  </div>
</div>

<p class="text-center mb-0">My flags:</p>
<% current_user.flags.each do |flag| %>
  <p class="text-center mb-0"><%= flag.ingredient.name %></p>
<% end %>

<%= simple_form_for :flags, url: flags_multi_create_path, method: :post do |f| %>
  <%= f.input :id, placeholder: 'Add flags', label: false, class: "w-100", as: :select, input_html: {class:'select2', multiple:'multiple'}, collection:
        Ingredient.all
        .sort_by { |ingredient| ingredient.name }, include_hidden: false %>
  <%= f.submit %>
<% end %>
