<% if current_user.photo.attached? %>
  <% @path = current_user.photo.key %>
<% else %>
  <% @path = 'profile_whubsg' %>
<% end %>

<div class="user-banner">
  <h2>My Profile</h2>
  <div class="user-info">
    <%= cl_image_tag @path, alt: "user", class: "avatar-large"  %>
    <p><%= current_user.first_name %></p>
  </div>

</div>

<div class="container">
  <div class="skin-type card-white">

    <p class="my-skin-type">My skin concern</p>
    <i class="fas fa-edit btn" data-toggle="modal" data-target="#tagsModal"></i>
    <%= render 'tags/modal' %>

    <div class="skin-types">
      <% current_user.tag_list.each do |tag| %>

        <% if tag == "dry skin" %>
          <% @skintypecolor = "#e0ae8d" %>
          <% @skintypeicon = "fas fa-fire-alt" %>
        <% elsif tag == "oily skin" %>
          <% @skintypecolor = "#f9f59f" %>
          <% @skintypeicon = "fas fa-tint" %>
        <% elsif tag == "sensitive skin" %>
          <% @skintypecolor = "#a8e28e" %>
          <% @skintypeicon = "fas fa-feather" %>
        <% elsif tag == "fragrance" %>
          <% @skintypecolor = "#ddbff2" %>
          <% @skintypeicon = "fas fa-apple-alt" %>
        <% else %>
          <% @skintypecolor = "#a6caed" %>
          <% @skintypeicon = "fas fa-surprise" %>
        <% end %>

        <div class="card-skin-type">
          <div class="icon" style="border: 3px solid <%= @skintypecolor %>">
            <i class="<%= @skintypeicon %>" style="color: <%= @skintypecolor %>"></i>
          </div>
          <p><%= tag %></p>
        </div>

      <% end %>
    </div>
  </div>

  <div class="my-flag card-white">

    <p class="text-center my-skin-type">My flags</p>
    <i class="fas fa-plus btn" data-toggle="modal" data-target="#flagsModal"></i>
    <%= render 'flags/modal', ingredients: Ingredient.all  %>


    <ul class="list-group list-group-flush">
      <% current_user.flags.each do |flag| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="flex justify-content-between"></div>
            <div class="flex align-items-center flag-item">
              <i class="fab fa-font-awesome-flag mr-2"></i>
              <p><%= flag.ingredient.name %></p>
            </div>
            <%= link_to flag_path(flag), method: :delete, data: { confirm: "Are you sure?"} do %>
              <p><strong><i class="fas fa-trash-alt"></i></strong></p>
            <% end %>
          </div>
        </li>
      <% end %>

    </ul>

   </div>

</div>


