<div class="user-banner">
  <i class="fas fa-cog"></i>
  <% if current_user.photo.attached? %>
      <% @path = current_user.photo.key %>
    <% else %>
      <% @path = 'profile_whubsg' %>
    <% end %>
  <%= cl_image_tag @path, alt: "user", class: "avatar-large user"  %>
</div>



<div class="container">
  <div class="my-shelf">
    <h1>My Shelf</h1>
    <div class="product-cards">
      <div class="row">
        <% current_user.find_up_voted_items.each do |product| %>
          <div class="col-6 col-md-6 col-lg-4">
            <div class="card-product">
              <%= image_tag "biore.jpg", alt: "product" %>
              <p id="product-name"><%= product.brand %></p>
              <p><%= product.name %></p>
              <p><%= product.category%></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
