<div class="card-white">
  <div class="card-white-up flex">
    <div class="product-img">
      <%= image_tag "biore.jpg", alt: "product" %>
    </div>
    <div class="product-info">
      <div class="product-detail">
        <h1><%= product.name %></h1>
        <p><%= product.brand %></p>
        <p><%= product.category %></p>
      </div>
      <div class="product-rating">
        <div class="score-rating">
          <p id="rate"><%= product.reviews.pluck(:rating).sum / product.reviews.pluck(:rating).length %>.0</p>
          <p id="rating"><%= product.reviews.size %><br>ratings</p>
        </div>
        <div class="stars">
          <% (product.reviews.pluck(:rating).sum / product.reviews.pluck(:rating).length).times do %>
            <i class="fas fa-star" id="star-pink"></i>
          <% end %>
          <% (5 - product.reviews.pluck(:rating).sum / product.reviews.pluck(:rating).length).times do %>
            <i class="fas fa-star" id="star-gray"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="card-white-bottom">
    <p><%= product.description %></p>
  </div>
</div>
