<div class="card-white">
  <div class="card-white-up flex">
    <% if @product.photo.attached? %>
      <% @path = @product.photo.key %>
    <% else %>
      <% @path = 'profile_whubsg' %>
    <% end %>

    <div class="product-img">
      <%= cl_image_tag @path, alt: "product" %>
    </div>
    <div class="product-info">
      <div class="favorite">
          <% if current_user.liked?(@product) %>
            <%= link_to unlike_product_path(@product), method: :post do %>
              <i class="fas fa-bookmark like"></i>
            <% end %>
          <% else %>
            <%= link_to like_product_path(@product), method: :post do %>
              <i class="far fa-bookmark unlike"></i>
            <% end %>
          <% end %>
        </div>
        <%# list ofall liked products %>
        <%#= current_user.find_up_voted_items %>
      <div class="product-detail">
        <h1><%= product.name %></h1>
        <p><%= product.brand %></p>
        <p><%= product.category %></p>
      </div>
      <div class="product-rating">
        <div class="score-rating">
          <% if !product.reviews.empty? %>
            <p id="rate"><%= product.reviews.pluck(:rating).sum / product.reviews.pluck(:rating).length %>.0</p>
            <p id="rating"><%= product.reviews.size %><br>ratings</p>
        </div>
        <div class="stars">
          <% (product.reviews.pluck(:rating).sum / product.reviews.pluck(:rating).length).times do %>
            <i class="fas fa-star" id="star-pink"></i>
          <% end %>
            <% (5 - product.reviews.pluck(:rating).sum / product.reviews.pluck(:rating).length).times do %>
              <i class="fas fa-star" id="star-gray"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="card-white-bottom">
    <p><%= product.description %></p>
  </div>
</div>
