<div class="navbar-mobile">

    <%= link_to root_path do %>
      <%= image_tag "home.png", alt: "home", class: "navbar-img" %>
    <% end %>

    <%= link_to scan_path do %>
      <%= image_tag "scan.png", alt: "scan", class: "navbar-img" %>
    <% end %>

    <%= link_to shelf_user_path do %>
      <%= image_tag "user.png", alt: "user", class: "navbar-img" %>
    <% end %>

</div>
