<%= render 'shared/search' %>
<div class="banner">
  <div class="container">
    <h1>Clarify</h1>
    <p>A skincare app that helps you make smart decisions</p>
  </div>
</div>

  <% if current_user %>
  <div class="owl-carousel owl-theme">
    <% current_user.friends.each do |friend| %>
      <% friend.find_up_voted_items.each do |product| %>
        <% if product.photo.attached? %>
          <% @path_pro = product.photo.key %>
        <% else %>
          <% @path_pro = 'no_image' %>
        <% end %>
        <%= cl_image_tag @path_pro, alt: "product" %>
      <% end %>
    <% end %>
  <% end %>
  </div>

<%= content_for(:after_js) do %>
<script type="text/javascript">
  $('.owl-carousel').owlCarousel({
    stagePadding: 50,
    loop:true,
    autoplay:true,
    autoplaySpeed:10000,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        }
    }
})
</script>
<% end %>

<div class="container">
  <h2>Browse by category</h2>
  <div class="row">
    <% @products.pluck(:category).uniq.each do |category| %>
    <div class="col-6 col-md-3 col-lg-2">
        <%= link_to products_path do %>
      <div class="card-category">
        <% if category == "Face Mask" %>
        <%= image_tag "categories/facial-treatment.svg", width: "80px", alt: "Mask" %>
        <% elsif category == "Face Oil" %>
        <%= image_tag "categories/drops.svg", width: "80px", alt: "Oil" %>
        <% elsif category == "Moisturizer" %>
        <%= image_tag "categories/cream.svg", width: "80px", alt: "Moisturizer" %>
        <% elsif category == "Sunscreen" %>
        <%= image_tag "categories/sunscreen.svg", width: "80px", alt: "sunscreen.svg" %>
        <% elsif category == "Chemical Peel" %>
        <%= image_tag "categories/peel.svg", width: "80px", alt: "peel" %>
        <% elsif category == "Treatment" %>
        <%= image_tag "categories/treatment.svg", width: "80px", alt: "treatment" %>
        <% elsif category == "Toner" %>
        <%= image_tag "categories/bottles.svg", width: "80px", alt: "toner" %>
        <% elsif category == "Serum" %>
        <%= image_tag "categories/serum.svg", width: "80px", alt: "serum" %>
        <% elsif category == "Eye Cream" %>
        <%= image_tag "categories/eye.svg", width: "80px", alt: "eye cream" %>
        <% elsif category == "Exfoliator" %>
        <%= image_tag "categories/exfoliator.svg", width: "80px", alt: "exfoliator.svg" %>
        <% elsif category == "Cleanser" %>
        <%= image_tag "categories/cleanser.svg", width: "80px", alt: "cleanser" %>
        <% end %>
        <p><%= category %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

</div>
