<%= render 'shared/search' %>
<div class="banner">
  <div class="container">
    <h1>Clarify</h1>
    <p>A skincare app that helps you make smart decisions</p>
  </div>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
         <% current_user.friends.each do |friend| %>
          <% friend.find_up_voted_items.each do |product| %>
            <p><%= product.name %></p>
            <% end %>
        <% end %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<!-- ------------------- -->















<div class="container">
  <h2>Browse by category</h2>
  <div class="row">
    <% @products.pluck(:category).uniq.each do |category| %>
    <div class="col-6 col-md-3 col-lg-2">
        <%= link_to products_path do %>
      <div class="card-category">
        <% if category == "Face Mask" %>
        <%= image_tag "categories/facial-treatment.svg", width: "80px", alt: "Mask" %>
        <% elsif category == "Face Oil" %>
        <%= image_tag "categories/drops.svg", width: "80px", alt: "Oil" %>
        <% elsif category == "Moisturizer" %>
        <%= image_tag "categories/cream.svg", width: "80px", alt: "Moisturizer" %>
        <% elsif category == "Sunscreen" %>
        <%= image_tag "categories/sunscreen.svg", width: "80px", alt: "sunscreen.svg" %>
        <% elsif category == "Chemical Peel" %>
        <%= image_tag "categories/peel.svg", width: "80px", alt: "peel" %>
        <% elsif category == "Treatment" %>
        <%= image_tag "categories/treatment.svg", width: "80px", alt: "treatment" %>
        <% elsif category == "Toner" %>
        <%= image_tag "categories/bottles.svg", width: "80px", alt: "toner" %>
        <% elsif category == "Serum" %>
        <%= image_tag "categories/serum.svg", width: "80px", alt: "serum" %>
        <% elsif category == "Eye Cream" %>
        <%= image_tag "categories/eye.svg", width: "80px", alt: "eye cream" %>
        <% elsif category == "Exfoliator" %>
        <%= image_tag "categories/exfoliator.svg", width: "80px", alt: "exfoliator.svg" %>
        <% elsif category == "Cleanser" %>
        <%= image_tag "categories/cleanser.svg", width: "80px", alt: "cleanser" %>
        <% end %>
        <p><%= category %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

</div>
