<div class="modal fade" id="compareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body form-tag">
        <p>Choose Product to compare with <%= first_product.name %></p>


        <%= simple_form_for :products, url: products_compare_path, method: :get do |f| %>
          <%= f.input :id, placeholder: 'Select product', label: false, as: :select, input_html: {class:'select2', multiple:'multiple'}, collection:
                products.sort_by { |product| product.name }, include_hidden: false %>
          <%= f.input :first_product, as: :hidden, :input_html => { :value => first_product.id } %>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-light-gray" data-dismiss="modal">Close</button>
          <%= f.submit "compare", class: "btn btn-sky"%>
        <% end %>

      </div>
    </div>
  </div>
</div>
