<div class="modal fade" id="compareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body form-tag">



        <div class="card-product">
          <%= cl_image_tag first_product.photo_path, alt: "product" %>
          <p class="mt-2"><%= first_product.brand %></p>
          <p><%= first_product.name %></p>
          <p><%= first_product.category %></p>
        </div>


        <%= simple_form_for :products, url: products_compare_path, method: :get do |f| %>
          <%= f.input :id, hint: 'Search and Choose a Product to compare with', label: false, as: :select, input_html: {class:'select3'}, collection:
                products.sort_by { |product| product.name }, include_hidden: false %>
          <%= f.input :first_product, as: :hidden, :input_html => { :value => first_product.id } %>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-light-gray" data-dismiss="modal">Close</button>
          <%= f.submit "compare", class: "btn btn-sky"%>
        <% end %>

      </div>
    </div>
  </div>
</div>
