<div class="container">

  <div class="white-big-card my-3 p-3">
    <div class="row">
      <div class="col-12">
        <h2 class="my-3">Product overview</h2>
      </div>
    </div>

    <div class="row px-3">
      <div class="col-6">
        <%= link_to product_path(@first_product) do %>
          <%= cl_image_tag @first_product.photo_path, alt: "first_product", class: "img-compare" %>
          <p><%= @first_product.brand %></p>
          <p><%= @first_product.name %></p>
        <% end %>
      </div>
      <div class="col-6">
        <%= link_to product_path(@second_product) do %>
          <%= cl_image_tag @second_product.photo_path, alt: "second_product", class: "img-compare" %>
          <p><%= @second_product.brand %></p>
          <p><%= @second_product.name %></p>
        <% end %>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-12">
        <p>Category</p>
      </div>
    </div>

    <div class="row px-3">
      <div class="col-6">
        <p><%= @first_product.category %></p>
      </div>
      <div class="col-6">
        <p><%= @second_product.category %></p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-12">
        <p>Reviews</p>
      </div>
    </div>

    <div class="row px-3">
      <div class="col-6">
        <% if @first_product.reviews.empty? %>
          <p>No Ratings yet</p>
        <% else %>
          <div class="score-rating">
            <p id="rate"><%= @first_product.reviews.pluck(:rating).sum / @first_product.reviews.pluck(:rating).length %>.0</p>
            <p id="rating"><%= @first_product.reviews.size %><br>ratings</p>
          </div>
          <div class="stars">
            <% (@first_product.reviews.pluck(:rating).sum / @first_product.reviews.pluck(:rating).length).times do %>
              <i class="fas fa-star" id="star-pink"></i>
            <% end %>
            <% (5 - @first_product.reviews.pluck(:rating).sum / @first_product.reviews.pluck(:rating).length).times do %>
              <i class="fas fa-star" id="star-gray"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-6">

        <% if @second_product.reviews.empty? %>
          <p>No Ratings yet</p>
        <% else %>
          <div class="score-rating">
            <p id="rate"><%= @second_product.reviews.pluck(:rating).sum / @second_product.reviews.pluck(:rating).length %>.0</p>
            <p id="rating"><%= @second_product.reviews.size %><br>ratings</p>
          </div>
          <div class="stars">
            <% (@second_product.reviews.pluck(:rating).sum / @second_product.reviews.pluck(:rating).length).times do %>
              <i class="fas fa-star" id="star-pink"></i>
            <% end %>
            <% (5 - @second_product.reviews.pluck(:rating).sum / @second_product.reviews.pluck(:rating).length).times do %>
              <i class="fas fa-star" id="star-gray"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-12">
        <p>Total number ingredients</p>
      </div>
    </div>

    <div class="row px-3">
      <div class="col-6">
        <p><%= @first_product.ingredients.count %></p>
      </div>
      <div class="col-6">
        <p><%= @second_product.ingredients.count %></p>
      </div>
    </div>



    <hr>

    <div class="row">
      <div class="col-12">
        <p>Good ingredients</p>
      </div>
    </div>

    <div class="row px-3">

      <div class="col-6">
        <% if @first_product.count_good(current_user) == 0 %>
          <i class="fas fa-surprise green"></i>
          <p>0</p>
        <% else %>
          <div class="accordion-wrap">
            <div class="accordion-item" style="margin-top: 0;">
              <i class="far fa-thumbs-up green"></i>
              <p class="accordion-header"><%= @first_product.count_good(current_user) %></p><i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>

            <div class="accordion-text">
              <ul class="list-group list-group-flush">
                <% @first_product.goodtag_ings(current_user).each do |ingredient| %>
                  <li class="list-group-item d-flex justify-content-center align-items-center">
                    <i class="<%= ingredient.icon %> mr-2" style="color: gray"></i>
                    <p style="color: gray"><%= ingredient.name %></p>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-6">
        <% if @second_product.count_good(current_user) == 0 %>
          <i class="fas fa-surprise green"></i>
          <p>0</p>
        <% else %>
          <div class="accordion-wrap">
            <div class="accordion-item" style="margin-top: 0;">
              <i class="far fa-thumbs-up green"></i>
              <p class="accordion-header"><%= @second_product.count_good(current_user) %></p><i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>

            <div class="accordion-text">
              <ul class="list-group list-group-flush">
                <% @second_product.goodtag_ings(current_user).each do |ingredient| %>
                  <li class="list-group-item d-flex justify-content-center align-items-center">
                    <i class="<%= ingredient.icon %> mr-2" style="color: gray"></i>
                    <p style="color: gray"><%= ingredient.name %></p>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>



    </div>









    <hr>
    <div class="row">
      <div class="col-12">
        <p>Bad ingredients</p>
      </div>
    </div>

    <div class="row px-3">
      <div class="col-6">
        <% if @first_product.count_bad(current_user) == 0 %>
          <i class="far fa-thumbs-up green"></i>
          <p>0</p>
        <% else %>
          <div class="accordion-wrap">
            <div class="accordion-item" style="margin-top: 0;">
              <i class="fab fa-font-awesome-flag red"></i>
              <p class="accordion-header"><%= @first_product.count_bad(current_user) %></p><i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>

            <div class="accordion-text">
              <ul class="list-group list-group-flush">
                <% @first_product.flag_ings(current_user).each do |ingredient| %>
                  <li class="list-group-item d-flex justify-content-center align-items-center">
                    <p style="color: gray"><%= ingredient.name %></p>
                  </li>
                <% end %>
                <% @first_product.badtag_ings(current_user).each do |ingredient| %>
                  <li class="list-group-item d-flex justify-content-center align-items-center">
                    <i class="<%= ingredient.icon %> mr-2" style="color: gray"></i>
                    <p style="color: gray"><%= ingredient.name %></p>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>



      <div class="col-6">
        <% if @second_product.count_bad(current_user) == 0 %>
          <i class="far fa-thumbs-up green"></i>
          <p>0</p>
        <% else %>
          <div class="accordion-wrap">
            <div class="accordion-item" style="margin-top: 0;">
              <i class="fab fa-font-awesome-flag red"></i>
              <p class="accordion-header"><%= @second_product.count_bad(current_user) %></p><i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
            <div class="accordion-text">
              <ul class="list-group list-group-flush">
                <% @second_product.flag_ings(current_user).each do |ingredient| %>
                  <li class="list-group-item d-flex justify-content-center align-items-center">
                    <p style="color: gray"><%= ingredient.name %></p>
                  </li>
                <% end %>
                <% @second_product.badtag_ings(current_user).each do |ingredient| %>
                  <li class="list-group-item d-flex justify-content-center align-items-center">
                    <i class="<%= ingredient.icon %> mr-2" style="color: gray"></i>
                    <p style="color: gray"><%= ingredient.name %></p>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="white-big-card my-3 p-3">
    <div class="row">
      <div class="col-12">
        <h2 class="my-3">Ingredient overview</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <div class="accordion-wrap">

          <div class="accordion-item">
            <p class="accordion-header">Common ingredients (<%= @common_ings.count %>)</p><i class="fa fa-angle-down" aria-hidden="true"></i>
          </div>

          <div class="accordion-text">
            <% @common_ings.each do |ing| %>
              <p style="color: gray"><%= ing.name %></p>
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">
        <div class="accordion-wrap">
          <div class="accordion-item">
            <p class="accordion-header">only in <%= @first_product.name %> (<%= @only_first_ings.count %>)</p><i class="fa fa-angle-down" aria-hidden="true"></i>
          </div>
          <div class="accordion-text">
            <% @only_first_ings.each do |ing| %>
              <p style="color: gray"><%= ing.name %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr>
     <div class="row">
      <div class="col-12">
        <div class="accordion-wrap">
          <div class="accordion-item">
            <p class="accordion-header">only in <%= @second_product.name %> (<%= @only_second_ings.count %>)</p><i class="fa fa-angle-down" aria-hidden="true"></i>
          </div>
          <div class="accordion-text">
            <% @only_second_ings.each do |ing| %>
              <p style="color: gray"><%= ing.name %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <a href="#top" class="btn btn-ghost">Go to top</a>
    </div>
  </div>

</div>
