<%= render 'shared/search' %>
<div class="container">

  <% if @products.count == 1 %>
    <h4>Found <%= @products.count %> result:</h4>
  <% else %>
    <h4>Found <%= @products.count %> results:</h4>
  <% end %>

  <div class="product-cards">

    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
        <div class="card-product">
          <%= cl_image_tag product.photo_path, alt: "product" %>
          <p class="mt-2"><%= product.brand.truncate(16) %></p>
          <p><%= product.name.truncate(16) %></p>
          <p><%= product.category.truncate(16) %></p>
        </div>
      <% end %>

    <% end %>

  </div>
</div>
