<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8">
      <% if @product.photo.attached? %>
        <% @path = @product.photo.key %>
      <% else %>
        <% @path = 'profile_whubsg' %>
      <% end %>

      <div class="product">
        <%= render 'shared/card-product', product: @product %>
        <% if current_user.liked?(@product) %>
          <%= link_to "unlike", unlike_product_path(@product), method: :post %>
        <% else %>
          <%= link_to "like", like_product_path(@product), method: :post %>
        <% end %>
        <%# list ofall liked products %>
        <%#= current_user.find_up_voted_items %>
      </div>

      <div class="ingredients">
        <h2>Ingredients</h2>
        <div class="card-white">
          <ul class="list-group list-group-flush">
            <% @product.ingredients.each do |ingredient| %>
              <li class="list-group-item d-flex justify-content-between align-items-center"><p><%= ingredient.name %></p></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="reviews">
        <h2>Reviews</h2>
        <% @product.reviews.each do |review| %>
          <%= render 'shared/card-review', review: review %>
        <% end %>
      </div>

    </div>
  </div>
</div>
