<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">

      <div class="product">
        <%= render 'shared/card-productinfo', product: @product, path: @path %>
      </div>
    </div>

    <div class="col-8">
      <div class="flag">
        <% @product.ingredients.each do |ingredient|  %>
          <% if current_user.tag_list.include?(ingredient.tag_list.first) %>
            <% @count += 1 %>
          <% end %>
        <% end %>

        <% if @count == 0 %>
          <div class="card-safe">
            <i class="far fa-thumbs-up"></i><p>Good for you</p>
          </div>
        <% else %>
          <div class="card-flag">
            <i class="fab fa-font-awesome-flag"></i><p>This product contains <%= @count %> flags</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="text-center">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
      </li>
    </ul>
  </div>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div class="ingredients">
          <h2>Ingredients</h2>
          <div class="card-white">
            <ul class="list-group list-group-flush">
            <% @product.ingredients.each do |ingredient| %>

              <li class="list-group-item d-flex justify-content-between align-items-center">

                <div><p><%= ingredient.name %></p></div>
                <div style="padding: 0;">
                  <% if current_user.tag_list.include?(ingredient.tag_list.first) %>
                    <i class="fab fa-font-awesome-flag"></i><p><%= ingredient.tag_list.first %></p>
                  <%# elsif current_user.ingredients.include?(ingredient) %>
                  <%# else %>
                    <%#= simple_form_for(Flag.new) do |f| %>
                      <%#= f.association :ingredient, as: :hidden, input_html: {value: ingredient.id} %>
                      <%#= f.input :product_id, as: :hidden, input_html: {value: @product.id} %>
                      <%#= button_tag class: "border-0" do %>
                        <!-- <i class="fas fa-plus"></i> -->
                      <%# end %>
                    <%# end %>
                  <% end %>
                </div>

              </li>

            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="reviews col-xs-12 col-sm-8 offset-sm-2">
        <h2>Reviews</h2>
        <% if @product.reviews.empty? %>
          <p style="font-size: 16px;"><strong>No Reviews yet</strong></p>
        <% else %>
          <% @product.reviews.each do |review| %>
            <%= render 'shared/card-review', review: review %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
