<% content_for :meta_title, "#{@product.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @product.description %>
<% content_for :meta_image, cl_image_path(@product.photo) %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">

      <div class="product">
        <%= render 'shared/card-productinfo', product: @product, path: @path %>
      </div>



      <div class="flags">

        <% @product.ingredients.each do |ingredient|  %>
          <% if current_user.tag_list.include?(ingredient.tag_list.first) %>
            <% @count += 1 %>
          <% elsif current_user.ingredients.include?(ingredient) %>
            <% @count += 1 %>
          <% end %>
        <% end %>

        <% if @count == 0 %>
          <div class="card-flag">
            <i class="far fa-thumbs-up green"></i>
            <p>Good for you</p>
          </div>
        <% else %>
          <div class="card-flag">
            <i class="fab fa-font-awesome-flag red"></i>
            <p>You may want to avoid <%= @count %> ingredients</p>
          </div>
        <% end %>
      </div>

      <div class="friends">
        <div class="card-flag">
          <i class="far fa-smile green"></i>
          <% if current_user.voted_up_on? @product %>
            <% if @product.get_likes.size - 1 == 1 %>
              <p>1 friend is using it</p>
            <% else %>
            <p><%= @product.get_likes.size - 1 %> friends are using it</p>
            <% end %>
          <% else %>
            <% if @product.get_likes.size == 1 %>
              <p>1 friend is using it</p>
            <% else %>
            <p><%= @product.get_likes.size %> friends are using it</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>



  <div class="text-center">
    <ul class="nav nav-tabs justify-content-center my-3" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reviews</a>
      </li>
    </ul>
  </div>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div class="ingredients">
          <div class="card-white">
            <ul class="list-group list-group-flush">

            <% @flag_ings = [] %>
            <% @tag_ings = [] %>
            <% @normal_ings = [] %>

            <% @product.ingredients.each do |ingredient| %>
              <% if current_user.ingredients.include?(ingredient) %>
                <% @flag_ings << ingredient %>
              <% elsif current_user.tag_list.include?(ingredient.tag_list.first) %>
                <% @tag_ings << ingredient %>
              <% else %>
                <% @normal_ings << ingredient %>
              <% end %>
            <% end %>


            <% @flag_ings.each do |ingredient| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <p><%= ingredient.name %></p>
                <div class="flex align-items-center flag-item"><i class="fab fa-font-awesome-flag mr-2"></i></div>
              </li>
            <% end %>




            <% @tag_ings.each do |ingredient| %>


              <% if ingredient.tag_list.first == "dry skin" %>
                <% @skintypecolor = "#e0ae8d" %>
                <% @skintypeicon = "fas fa-fire-alt" %>
              <% elsif ingredient.tag_list.first == "oily skin" %>
                <% @skintypecolor = "#f9f59f" %>
                <% @skintypeicon = "fas fa-tint" %>
              <% elsif ingredient.tag_list.first == "sensitive skin" %>
                <% @skintypecolor = "#a8e28e" %>
                <% @skintypeicon = "fas fa-feather" %>
              <% elsif tag == "fragrance" %>
                <% @skintypecolor = "#ddbff2" %>
                <% @skintypeicon = "fas fa-apple-alt" %>
              <% else %>
                <% @skintypecolor = "#a6caed" %>
                <% @skintypeicon = "fas fa-surprise" %>
              <% end %>


              <li class="list-group-item d-flex justify-content-between align-items-center">
                <p><%= ingredient.name %></p>
                <div class="flex align-items-center flag-item"><i class="<%= @skintypeicon %>" style="color: #ff5555"></i><p style="color: gray"><%= ingredient.tag_list.first %></p></div>
              </li>
            <% end %>




            <% @normal_ings.each do |ingredient| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <p><%= ingredient.name %></p>
                <%= simple_form_for(Flag.new) do |f| %>
                  <%= f.association :ingredient, as: :hidden, input_html: {value: ingredient.id} %>
                  <%= f.input :product_id, as: :hidden, input_html: {value: @product.id} %>
                  <%= button_tag class: "border-0" do %>
                    <i class="fas fa-plus"></i>
                  <% end %>
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <% friend_reviews = [] %>
    <% random_reviews = [] %>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="reviews col-xs-12 col-sm-8 offset-sm-2">
          <% if @product.reviews.empty? %>
            <p style="font-size: 16px;"><strong>No Reviews yet</strong></p>
          <% else %>
        <h5>Reviews from friends</h5>
        <% @product.reviews.each do |review| %>
          <% if current_user.friends.include?(review.user) %>
            <% friend_reviews << review %>
            <%= render 'shared/card-review', review: review %>
          <% end %>
          <% end %>
        <% end %>

        <h5>Other Reviews</h5>
        <% @product.reviews.each do |review| %>
          <% if !current_user.friends.include?(review.user) %>
            <% random_reviews << review %>
            <%= render 'shared/card-review', review: review %>
          <% end %>
        <% end %>

      </div>
    </div>

  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="d-flex justify-content-center">
        <a href="#top" class="btn btn-ghost">Go to top</a>
      </div>
    </div>
  </div>

</div>
