<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">

      <div class="product">
        <%= render 'shared/card-productinfo', product: @product, path: @path %>
      </div>
    </div>

    <div class="col-8">
      <div class="flag">

        <% @product.ingredients.each do |ingredient|  %>
          <% if current_user.tag_list.include?(ingredient.tag_list.first) %>
            <% @count += 1 %>
          <% end %>
        <% end %>

        <% if @count == 0 %>
          <div class="card-safe">
            <i class="far fa-thumbs-up"></i><p>Good for you</p>
          </div>
        <% else %>
          <div class="card-flag">
            <p>This product contains <%= @count %> flags</p>
          </div>
        <% end %>

      </div>
    </div>

    <div class="col-12 col-md-10 col-lg-8">
      <div class="ingredients">
        <h2>Ingredients</h2>
        <div class="card-white">
          <ul class="list-group list-group-flush">
            <% @product.ingredients.each do |ingredient| %>
              <div class="d-flex justify-content-between">
                <li class="list-group-item d-flex justify-content-between align-items-center"><p><%= ingredient.name %></p></li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding: 0;">
                  <% if current_user.tag_list.include?(ingredient.tag_list.first) %>
                    <i class="fab fa-font-awesome-flag"></i><p><%= ingredient.tag_list.first %></p>
                  <% end %>
                  </li>
              </div>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="reviews">
        <h2>Reviews</h2>
        <% @product.reviews.each do |review| %>
          <%= render 'shared/card-review', review: review %>
        <% end %>
      </div>

    </div>
  </div>
</div>
