
<% if @product.photo.attached? %>
  <% @path = @product.photo.key %>
<% else %>
  <% @path = 'profile_whubsg' %>
<% end %>

<p><%= @product.name %></p>
<p><%= @product.brand %></p>
<p><%= @product.category %></p>
<p><%= @product.description %></p>
<%= @product.reviews.pluck(:rating).sum / @product.reviews.pluck(:rating).length %>
<p><%= @product.ingredients %></p>

<% @product.reviews.each do |review| %>
  <% if review.product.photo.attached? %>
    <% @path = review.product.photo.key %>
  <% else %>
    <% @path = 'profile_whubsg' %>
  <% end %>
  <p><%= review.rating %></p>
  <p><%= review.content %></p>
<% end %>
